.createbutton {
    margin-right: 25px;
    width: 25px;
    text-align: center;
}
.createbutton i {
    font-size: 15px;
    padding-left: 15px;
}
.alert-primary {
    background-color: #3C8DBC;
}
.padzero {
    padding: 0px;
}
.padtopzero{
	padding-top: 0px;
}
.padtop5{
	padding-top: 5px;
}

.padtop10{
	padding-top: 10px;
}
.padtop25{
	padding-top: 25px;
}
.padtop50{
	padding-top: 50px;
}
.padtop75{
	padding-top: 75px;
}
.padtop100{
	padding-top: 100px;
}

.paddown5{
	padding-bottom: 5px;
}
.paddown10{
	padding-bottom: 10px;
}
.paddown25{
	padding-bottom: 25px;
}
.paddown50{
	padding-bottom: 50px;
}

.paddownfive,  {
    padding-bottom: 5px;
}

.padleft{
	padding-left: 10px;
}
.padleft5{
	padding-left: 5px;
}
.padright5{
	padding-right: 5px;
}
.padright10{
	padding-right: 10px;
}
.padfull {
    padding: 20px 25px 0px 25px;
}
.rupee {
    border-left: 5px solid;
    padding-left: 10px;
}
.margintopzero {
    margin-top: 0px;
}
.margintop20 {
	margin-top: 20px;
}
.colorblack {
    color: #333;
    border-color: #333;
}
.colorred {
    color: #ce5133;
    border-color: #ce5133;
}
.font18{
	font-size: 18px;
}
.font24{
	font-size: 24px;
}
.linedown{
	border-bottom: 1px solid #eee;
}

.lineup{
	border-top: 1px solid #eee;
}