/* Page 404 */
.page-not-found {
	padding: 50px 0;
	h2 {
		font-size: 140px;
		font-weight: 600;
		letter-spacing: -10px;
		line-height: 140px;
	}
	h4 {
		color: $color-font-default;
	}
	p {
		font-size: 1.4em;
		line-height: 36px;
	}
}

/* Responsive */
@media (max-width: 575px) {

	.page-not-found {
		padding: 0;
		h2 {
			font-size: 100px;
			letter-spacing: 0;
			line-height: 100px;
		}
	}

}