/*
Name: 			theme.css
Written by: 	Okler Themes - (http://www.okler.net)
Theme Version:	@@version
*/

// COMMON IMPORTS
@import "config/imports";

// BASE
@import "base/base";
@import "base/header";
@import "base/page-header";

// GUI
@import "gui/parallax";
@import "gui/sections";
@import "gui/sidebar";
@import "gui/sliders";

// PARTIALS
@import "partials/home";
@import "partials/page-not-found";

// HELPERS
@import "base/helpers";

// FOOTER
@import "base/footer";

// LAYOUTS
@import "layouts/dark";
@import "layouts/boxed";