@import "variables";

@border-radius: 0;

@color-primary: #E04622;

@color-secondary: #EEAB26;

@color-tertiary: #EAEFF3;

@color-quaternary: #080808;

@import "skin";

// Section Construction
.section-custom-construction {
	.container {
		&:after {
			background: @color-primary !important;
		}
	}
}

.section-custom-construction-2 {
	&:after {
		background: @color-primary !important;
	}
}